%ul.steps.list-inline
  %li.step.active
    %span.step-number 1
    %span.step-text.hidden-xs= t('checkout.steps.address')
  %li.step-divider
  %li.step
    %span.step-number 2
    %span.step-text.hidden-xs= t('checkout.steps.delivery')
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs= t('checkout.steps.payment')
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs= t('checkout.steps.confirm')
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs= t('checkout.steps.complete')
= simple_form_for @order, method: :put, url: checkout_next_path, html: { novalidate: true }, class: "res-mb-100" do |f|
  .hidden-xs.hidden-sm
    .row
      .col-md-5
        %h3.general-subtitle= t('checkout.address.billaddress')
        %p.general-info-text= t('checkout.allrequired')
      .col-md-5.col-md-offset-1
        %h3.general-subtitle= t('checkout.address.shaddress')
  .row
    .col-md-5.mb-40
      .visible-xs.visible-sm
        %h3.general-subtitle= t('checkout.address.billaddress')
        %p.general-info-text= t('checkout.allrequired')
      = f.simple_fields_for :billing_address, @form.billing_address do |bia|
        = render partial: "address_form", locals: { adr: bia }
    .col-md-5.col-md-offset-1.mb-60
      .egn-shipping-block{style: ('display: none;' unless @order.use_billing.nil?)}
        .visible-xs.visible-sm
          %h3.general-subtitle= t('checkout.address.shaddress')
        = f.simple_fields_for :shipping_address, @form.shipping_address do |sh|
          = render partial: "address_form", locals: { adr: sh }
      .form-group.checkbox
        %label.checkbox-label
          %input.checkbox-input.egn-use_billing{type: "checkbox", name: "use_billing", checked: (true unless @order.use_billing.nil?)}
          %span.checkbox-icon
            %i.fa.fa-check
          %span.checkbox-text= t('checkout.address.usebilladdress')
  .general-text-align.mb-60
    %p.in-gold-500.font-18= t('checkout.ordersumm')
    %table.general-summary-table
      = render partial: "cost", object: @order
  = f.button :submit, t('checkout.saveandcontinue'), class: "btn btn-default center-block mb-20"
