= adr.input :first_name, placeholder: "#{t('checkout.addrform.firstname')}", label: "#{t('checkout.addrform.firstname')}"
= adr.input :last_name, placeholder: "#{t('checkout.addrform.lastname')}", label: "#{t('checkout.addrform.lastname')}"
= adr.input :address, placeholder: "#{t('checkout.addrform.address')}", label: "#{t('checkout.addrform.address')}"
= adr.input :city, placeholder: "#{t('checkout.addrform.city')}", label: "#{t('checkout.addrform.city')}"
= adr.input :zip, placeholder: "#{t('checkout.addrform.zip')}", label: "#{t('checkout.addrform.zip')}"
= adr.input :country, placeholder: "#{t('checkout.addrform.selcountry')}", label: "#{t('checkout.addrform.country')}"
= adr.input :phone, placeholder: "#{t('checkout.addrform.example')} +355 66 123 4567", label: "#{t('checkout.addrform.phone')}"
