%ul.steps.list-inline
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.address')
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.delivery')
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.payment')
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.confirm')
  %li.step-divider
  %li.step.active
    %span.step-number 5
    %span.step-text.hidden-xs= t('checkout.steps.complete')
.text-center.mb-40
  %h3.general-subtitle= t('checkout.thanks')
  %p.fw-300= t('checkout.thanks2', email: @user.email)
.row.mb-20
  .col-sm-6
    .visible-xs
      %p.general-order-number.mb-0= "#{t('checkout.order')} ##{@order.number}"
      %p.general-address.mb-30= @order.completed_at
    %p.general-address
      = "#{@order.billing_address.first_name} #{@order.billing_address.last_name}"
      %br
      = @order.billing_address.address
      %br
      = "#{@order.billing_address.city} #{@order.billing_address.zip}"
      %br
      = @order.billing_address.country
      %br
      = "#{t('checkout.addrform.phone')} #{@order.billing_address.phone}"
  .col-sm-6.hidden-xs.text-right
    %p.general-order-number.mb-0= "#{t('checkout.order')} ##{@order.number}"
    %p.general-address.mb-30= @order.completed_at
%table.table.table-hover
  %thead
    %tr
      %th
        %span.in-grey-600= t('checkout.itemlist.book')
      %th.col-method
      %th
        %span.in-grey-600= t('checkout.itemlist.price')
      %th
        %span.in-grey-600= t('checkout.itemlist.quantity')
      %th
        %span.in-grey-600= t('checkout.itemlist.total')
  %tbody
    - @service.items.each do |order_item|
      - item = order_item.product
      %tr
        %td
          .general-img-wrap-table
            image
        %td
          %p.title= item.name
        %td
          %span.font-16.in-gold-500= number_to_currency(item.price)
        %td
          %span.ml-30= order_item.quantity
        %td
          %span.font-16.in-gold-500= number_to_currency((order_item.quantity * item.price))
.text-center.general-text-right
  %p.in-gold-500.font-18= t('checkout.ordersumm')
  %table.general-summary-table.general-summary-table-right.general-text-right
    = render partial: "cost", object: @order
.text-center
  = link_to(t('checkout.backtostore'), cart_page_path, class: "btn btn-default mb-20")
