%ul.steps.list-inline
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.address')
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.delivery')
  %li.step-divider
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.payment')
  %li.step-divider
  %li.step.active
    %span.step-number 4
    %span.step-text.hidden-xs= t('checkout.steps.confirm')
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs= t('checkout.steps.complete')
.row.mb-20
  .col-sm-3
    %h3.general-subtitle= t('checkout.address.shaddress')
    %p.general-address
      = "#{@order.shipping_address.first_name} #{@order.shipping_address.last_name}"
      = link_to t('checkout.confirm.edit'), checkout_edit_path(type: :address), method: "put", class: "general-edit"
      %br
      = @order.shipping_address.address
      %br
      = "#{@order.shipping_address.city} #{@order.shipping_address.zip}"
      %br
      = @order.shipping_address.country
      %br
      = "Phone #{@order.shipping_address.phone}"
  .col-sm-3
    %h3.general-subtitle= t('checkout.address.billaddress')
    %p.general-address
      = "#{@order.billing_address.first_name} #{@order.billing_address.last_name}"
      = link_to t('checkout.confirm.edit'), checkout_edit_path(type: :address), method: "put", class: "general-edit"
      %br
      = @order.billing_address.address
      %br
      = "#{@order.billing_address.city} #{@order.billing_address.zip}"
      %br
      = @order.billing_address.country
      %br
      = "Phone #{@order.billing_address.phone}"
  .col-sm-3
    %h3.general-subtitle= t('checkout.confirm.shipments')
    %p.general-address
      = @order.delivery_method.try(:name)
      = link_to t('checkout.confirm.edit'), checkout_edit_path(type: :delivery), method: "put", class: "general-edit"
  .col-sm-3
    %h3.general-subtitle= t('checkout.confirm.paymentinfo')
    %p.general-address
      = @order.short_card_number
      = link_to t('checkout.confirm.edit'), checkout_edit_path(type: :payment), method: "put", class: "general-edit"
      %br
      = @order.credit_card.expires
%table.table.table-hover
  %thead
    %tr
      %th
        %span.in-grey-600= t('checkout.itemlist.book')
      %th.col-method
      %th
        %span.in-grey-600= t('checkout.itemlist.price')
      %th
        %span.in-grey-600= t('checkout.itemlist.quantity')
      %th
        %span.in-grey-600= t('checkout.itemlist.total')
  %tbody
    - @service.items.each do |order_item|
      - item = order_item.product
      %tr
        %td
          .general-img-wrap-table
            image
        %td
          %p.title= item.name
        %td
          %span.font-16.in-gold-500= number_to_currency(item.price)
        %td
          %span.ml-30= order_item.quantity
        %td
          %span.font-16.in-gold-500= number_to_currency((order_item.quantity * item.price))
.text-center.general-text-right
  %p.in-gold-500.font-18= t('checkout.ordersumm')
  %table.general-summary-table.general-summary-table-right.general-text-right
    = render partial: "cost", object: @order
  .text-center
    = link_to t('checkout.placeorder'), checkout_next_path, method: :put, class: "btn btn-default mb-20"
