%tr
  %td
    %p.font-16= "#{t('checkout.cost_p.subtotal')}:"
  %td
    %p.font-16= number_to_currency(@order.subtotal)
%tr
  %td
    %p.font-16= "#{t('checkout.cost_p.coupon')}:"
  %td
    %p.font-16= number_to_currency(@order.coupon_discount)
%tr
  %td
    %p.font-16= "#{t('checkout.cost_p.shipping')}:"
  %td
    %p.font-16= number_to_currency(@order.delivery_price)
%tr
  %td
    %p.font-16= "#{t('checkout.cost_p.total')}:"
  %td
    %p.font-16= number_to_currency(@order.pre_total_price)
