%ul.steps.list-inline
  %li.step.done
    %span.step-number
      %i.fa.fa-check.step-icon
    %span.step-text.hidden-xs= t('checkout.steps.address')
  %li.step-divider
  %li.step.active
    %span.step-number 2
    %span.step-text.hidden-xs= t('checkout.steps.delivery')
  %li.step-divider
  %li.step
    %span.step-number 3
    %span.step-text.hidden-xs= t('checkout.steps.payment')
  %li.step-divider
  %li.step
    %span.step-number 4
    %span.step-text.hidden-xs= t('checkout.steps.confirm')
  %li.step-divider
  %li.step
    %span.step-number 5
    %span.step-text.hidden-xs= t('checkout.steps.complete')
%h3.general-subtitle= t('checkout.delivery.dmethod')
= simple_form_for @order, method: :put, url: checkout_next_path, html: { novalidate: false } do |f|
  %table.table.table-hover
    %thead
      %tr
        %th.col-method
          %span.in-grey-600.ml-40= t('checkout.delivery.method')
        %th
          %span.in-grey-600= t('checkout.delivery.days')
        %th
          %span.in-grey-600= t('checkout.delivery.price')
    %tbody
      - @form.delivery_methods.each_with_index do |item, index|
        %tr
          %td
            .form-group.radio.mt-0.mb-0
              %label.radio-label
                = f.input :delivery_method_id, input_html: {class: "radio-input", type: "radio", value: "#{item.id}", checked: (true if index.zero? || item.id == @order.delivery_method_id)}, wrapper: false, label: false
                %span.radio-icon
                %span.radio-text= item.name
          %td
            %span= item.delay
          %td
            %span.font-16.in-gold-500= number_to_currency(item.cost, price_options)
  .general-text-align
    %p.in-gold-500.font-18= t('checkout.ordersumm')
    %table.general-summary-table
      = render partial: "cost", object: @order
  .text-center
    %button.btn.btn-default.mb-20= t('checkout.saveandcontinue')

