<!DOCTYPE html>
<html>
  <head>
    <title>Dummy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  	<div class="container">
  		<% unless flash[:notice].nil? %>
  			<div class="alert alert-info alert-dismissable"><%= flash[:notice] %></div>
  		<% end %>
  		<% unless flash[:alert].nil? %>
  			<div class="alert alert-warning alert-dismissable"><%= flash[:alert] %></div>
  		<% end %>
  	</div>
    <%= yield %>
  </body>
</html>
